<!DOCTYPE html>
        <html lang="pl">
            <head>
                <meta charset="UTF-8">
                <title>Blog Dla RPGowców</title>
            </head>
<body>
    <div>
        <h1>Witam na stronie bloga</h1>
        <h2>Blog o RPGach</h2>
        <h3>Autor: Vandraw</h3>
        <h4>Wszelkie prawa zastrzeżone</h4>
    </div>

    <div>
        <p>To jest akapit</p>
    </div>

    <div>
        <ul>
            <li>  Elementy listy</li>
            <li>  Elementy listy</li>
            <li>  Elementy listy</li>
        </ul>
    </div>
</body>
</html>